@page "/"

<h3>Home</h3>

@code {

    // [Inject] NavigationManager navigate { get; set; }
    // protected override async Task OnInitializedAsync()
    // {
    //     if(MainForm.UserConnected==null)
    //     {
    //         navigate.NavigateTo("login");
    //     }
    // }
}
